:root{
  --yellow: rgb(249, 218, 164);
  --dark-yellow: rgb(235, 192, 119);
  --salmon: rgb(248, 178, 150);
  --pink: rgb(246, 116, 129);
  --purple: rgb(192, 109, 132);
  --dark-purple: rgb(108, 91, 123);
}